In [10]:
import re
import os
from html.parser import HTMLParser
from time import time
from xml.etree import ElementTree as etree
from xml.etree.ElementTree import Element

import numpy as np
import pandas as pd

In [11]:
import nltk

In [12]:
text = 'hello, my name is Antonio'
tokens = nltk.word_tokenize(text)
nltk.pos_tag(tokens)

[('hello', 'NN'),
 (',', ','),
 ('my', 'PRP$'),
 ('name', 'NN'),
 ('is', 'VBZ'),
 ('Antonio', 'NNP')]

In [13]:
for x in [2, 4, 6]:
    for y in [1,2,3, 4]:
        if (x+y) % 2 ==0:
            print((x, y))

(2, 2)
(2, 4)
(4, 2)
(4, 4)
(6, 2)
(6, 4)

In [14]:
dfq=pd.DataFrame([[1,'q1',1],[2,'q2',2], [3,'q3',1]], columns=['idq', 'tq', 'idu'])
dfu=pd.DataFrame([[1,'u1'],[2,'u2'], [3,'u3'], [4,'u4']], columns=['idu', 'nu'])
dfa=pd.DataFrame([[1,'a1',3,1],[2,'a2',4,1], [3,'a3',1,2]], columns=['ida', 'ta', 'idu', 'idq'])

In [15]:
dfq

   idq  tq  idu
0    1  q1    1
1    2  q2    2
2    3  q3    1

In [16]:
dfu

   idu  nu
0    1  u1
1    2  u2
2    3  u3
3    4  u4

In [17]:
dfa

   ida  ta  idu  idq
0    1  a1    3    1
1    2  a2    4    1
2    3  a3    1    2

In [18]:
dfqu=pd.merge(dfq, dfu, left_on='idu', right_on='idu', suffixes=('_q', '_u'))
dfqu

   idq  tq  idu  nu
0    1  q1    1  u1
1    3  q3    1  u1
2    2  q2    2  u2

In [19]:
dfau=pd.merge(dfa, dfu, left_on='idu', right_on='idu', suffixes=('_a', '_u'))
dfau

   ida  ta  idu  idq  nu
0    1  a1    3    1  u3
1    2  a2    4    1  u4
2    3  a3    1    2  u1

In [20]:
dfqa=pd.merge(dfqu, dfau, left_on='idq', right_on='idq', suffixes=('_q', '_a'))
dfqa

   idq  tq  idu_q nu_q  ida  ta  idu_a nu_a
0    1  q1      1   u1    1  a1      3   u3
1    1  q1      1   u1    2  a2      4   u4
2    2  q2      2   u2    3  a3      1   u1

In [21]:
dfqa['id']=dfqa[['idq', 'ida']].apply(lambda x: str(x['idq'])+'-'+str(x['ida']), axis=1)
dfqa.drop(['idq','ida'], axis=1, inplace=True)

In [22]:
dfqa

   tq  idu_q nu_q  ta  idu_a nu_a   id
0  q1      1   u1  a1      3   u3  1-1
1  q1      1   u1  a2      4   u4  1-2
2  q2      2   u2  a3      1   u1  2-3

In [23]:
round(5.9)

6

In [24]:
round(7.5)

8

In [25]:
round(5.4)

5

In [26]:
l1=[1,2,3]
l2=[8,9]

In [27]:
l1.append(6)
l1.extend(l2)
l1

[1, 2, 3, 6, 8, 9]

In [28]:
l1.extends(l2)

AttributeError: 'list' object has no attribute 'extends'

In [29]:
s='asxdfgxhjxxdrxdx'

In [30]:
s.replace('x','.')

'as.dfg.hj..dr.d.'

In [31]:
df1=pd.DataFrame([[1,2,3],[4,5,6]],columns=list('abc'))

In [32]:
df2=df1.drop('b',axis=1)

In [33]:
df1

   a  b  c
0  1  2  3
1  4  5  6

In [34]:
df1.ix[0].to_dict()

{'a': 1, 'b': 2, 'c': 3}

In [35]:
df1.T

   0  1
a  1  4
b  2  5
c  3  6

In [36]:
df1['a']

0    1
1    4
Name: a, dtype: int64

In [37]:
np.array(list(df1.to_dict().values()))

array([{0: 3, 1: 6}, {0: 2, 1: 5}, {0: 1, 1: 4}], dtype=object)

In [38]:
df1.T.to_dict()

{0: {'a': 1, 'b': 2, 'c': 3}, 1: {'a': 4, 'b': 5, 'c': 6}}

In [39]:
df1.T.to_dict().values()

dict_values([{'c': 3, 'b': 2, 'a': 1}, {'c': 6, 'b': 5, 'a': 4}])

In [40]:
df1['a'].T.to_dict().values()

dict_values([1, 4])

In [66]:
from sklearn.feature_extraction import DictVectorizer

v = DictVectorizer(sparse=False)
X = v.fit_transform(df1.T.to_dict().values())

clf = RidgeClassifier()
clf.fit(X, df1['a'])

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
        max_iter=None, normalize=False, solver='auto', tol=0.001)

In [67]:
X

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.]])

In [43]:
import logging

from nltk.corpus import stopwords
from sklearn import metrics
from sklearn.cross_validation import cross_val_score, StratifiedKFold, train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.linear_model import PassiveAggressiveClassifier, Perceptron, RidgeClassifier, SGDClassifier
from sklearn.metrics import precision_recall_fscore_support
from sklearn.naive_bayes import BernoulliNB, GaussianNB, MultinomialNB
from sklearn.neighbors import KNeighborsClassifier, NearestCentroid
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.utils.extmath import density

In [44]:
test = pd.Series([1,0,0,1,1,0,0,1,0,1])
df_t = pd.DataFrame([[1,0,0,1,1,0,0,1,0,1], [1,0,0,1,1,0,0,1,0,1]])

In [45]:
X_data, X_val, y_data, y_val = train_test_split(df_t, df_t[0], train_size=0.9, test_size=0.1, random_state=100)

In [46]:
df_t

   0  1  2  3  4  5  6  7  8  9
0  1  0  0  1  1  0  0  1  0  1
1  1  0  0  1  1  0  0  1  0  1

In [47]:
df_t[0]

0    1
1    1
Name: 0, dtype: int64

In [48]:
for train_index, test_index in StratifiedKFold(test, 2):
    print(df_t[train_index])
    print('---')
    print(df_t[test_index])
    print('---')

   6  7  8  9
0  0  1  0  1
1  0  1  0  1
---
   0  1  2  3  4  5
0  1  0  0  1  1  0
1  1  0  0  1  1  0
---
   0  1  2  3  4  5
0  1  0  0  1  1  0
1  1  0  0  1  1  0
---
   6  7  8  9
0  0  1  0  1
1  0  1  0  1
---

In [49]:
test[train_index]

0    1
1    0
2    0
3    1
4    1
5    0
dtype: int64

In [50]:
df_t

   0  1  2  3  4  5  6  7  8  9
0  1  0  0  1  1  0  0  1  0  1
1  1  0  0  1  1  0  0  1  0  1

In [58]:
df_t[train_index]

   0  1  2  3  4  5
0  1  0  0  1  1  0
1  1  0  0  1  1  0

In [57]:
x=[1,2,3,4,5,6,7,8,9,0]
y=[0,1,2,3,4,5,6,7,8,9]
train_test_split(x, y, train_size=0.9, test_size=0.1, random_state=100)

[[7, 2, 6, 5, 3, 1, 4, 0, 9], [8], [6, 1, 5, 4, 2, 0, 3, 9, 8], [7]]

In [63]:
arr = np.array(list(df1.T.to_dict().values()))
train_test_split(arr, train_size=0.9, test_size=0.1, random_state=100)

[array([{'c': 3, 'b': 2, 'a': 1}], dtype=object),
 array([{'c': 6, 'b': 5, 'a': 4}], dtype=object)]