In [1]:
import re
import os
from html.parser import HTMLParser
from time import time
from xml.etree import ElementTree as etree
from xml.etree.ElementTree import Element

import numpy as np
import pandas as pd

In [1]:
import nltk

In [2]:
text = 'hello, my name is Antonio'
tokens = nltk.word_tokenize(text)
nltk.pos_tag(tokens)

[('hello', 'NN'),
 (',', ','),
 ('my', 'PRP$'),
 ('name', 'NN'),
 ('is', 'VBZ'),
 ('Antonio', 'NNP')]

In [7]:
for x in [2, 4, 6]:
    for y in [1,2,3, 4]:
        if (x+y) % 2 ==0:
            print((x, y))

(2, 2)
(2, 4)
(4, 2)
(4, 4)
(6, 2)
(6, 4)

In [20]:
dfq=pd.DataFrame([[1,'q1',1],[2,'q2',2], [3,'q3',1]], columns=['idq', 'tq', 'idu'])
dfu=pd.DataFrame([[1,'u1'],[2,'u2'], [3,'u3'], [4,'u4']], columns=['idu', 'nu'])
dfa=pd.DataFrame([[1,'a1',3,1],[2,'a2',4,1], [3,'a3',1,2]], columns=['ida', 'ta', 'idu', 'idq'])

In [21]:
dfq

   idq  tq  idu
0    1  q1    1
1    2  q2    2
2    3  q3    1

In [22]:
dfu

   idu  nu
0    1  u1
1    2  u2
2    3  u3
3    4  u4

In [23]:
dfa

   ida  ta  idu  idq
0    1  a1    3    1
1    2  a2    4    1
2    3  a3    1    2

In [25]:
dfqu=pd.merge(dfq, dfu, left_on='idu', right_on='idu', suffixes=('_q', '_u'))
dfqu

   idq  tq  idu  nu
0    1  q1    1  u1
1    3  q3    1  u1
2    2  q2    2  u2

In [26]:
dfau=pd.merge(dfa, dfu, left_on='idu', right_on='idu', suffixes=('_a', '_u'))
dfau

   ida  ta  idu  idq  nu
0    1  a1    3    1  u3
1    2  a2    4    1  u4
2    3  a3    1    2  u1

In [28]:
dfqa=pd.merge(dfqu, dfau, left_on='idq', right_on='idq', suffixes=('_q', '_a'))
dfqa

   idq  tq  idu_q nu_q  ida  ta  idu_a nu_a
0    1  q1      1   u1    1  a1      3   u3
1    1  q1      1   u1    2  a2      4   u4
2    2  q2      2   u2    3  a3      1   u1

In [41]:
dfqa['id']=dfqa[['idq', 'ida']].apply(lambda x: str(x['idq'])+'-'+str(x['ida']), axis=1)
dfqa.drop(['idq','ida'], axis=1, inplace=True)

In [42]:
dfqa

   tq  idu_q nu_q  ta  idu_a nu_a   id
0  q1      1   u1  a1      3   u3  1-1
1  q1      1   u1  a2      4   u4  1-2
2  q2      2   u2  a3      1   u1  2-3

In [43]:
round(5.9)

6

In [47]:
round(7.5)

8

In [45]:
round(5.4)

5

In [53]:
l1=[1,2,3]
l2=[8,9]

In [54]:
l1.append(6)
l1.extend(l2)
l1

[1, 2, 3, 6, 8, 9]

In [55]:
l1.extends(l2)

AttributeError: 'list' object has no attribute 'extends'

In [56]:
s='asxdfgxhjxxdrxdx'

In [57]:
s.replace('x','.')

'as.dfg.hj..dr.d.'

In [2]:
df1=pd.DataFrame([[1,2,3],[4,5,6]],columns=list('abc'))

In [3]:
df2=df1.drop('b',axis=1)

In [4]:
df2

   a  c
0  1  3
1  4  6